@font-face {
	font-family: 'Dreamscape';
	src: url(../../assets/fonts/Dreamscape.woff2) format('woff2'),
	url(../../assets/fonts/Dreamscape.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}